 <!-- nav.ejs -->
 <nav class="navbar">
  <div class="container">
    <span class="navbar-brand">PasswordKeepR</span>
    <ul class="navbar-nav nav-list">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a href="/generate-password" class="nav-link">Generate Password</a>
      </li>
      <li class="nav-item">
        <a href="/add-password" class="nav-link">Add Password</a>
      </li>
      <li class="nav-item">
        <a href="/add-organization" class="nav-link">Add Organization</li>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
