<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %>
</head>
<body>
  <header>
    <%- include('partials/nav') %>
  </header>
  <main>

      <form action="/add-password" method="POST">
        <input type="text" name="site_name" placeholder="Website Name">
        <input type="text" name="site_url" placeholder="Website URL">
        <input type="text" name="username" placeholder="Website Username">
        <input type="text" name="password" placeholder="Website Password">

      <select name="category">
        <option value="social">Social Media</option>
        <option value="work">Work</option>
        <option value="entertainment">Entertainment</option>

      </select>

       <button type="submit">Add Password</button>
    </form>
  </main>
  <%- include('partials/footer') %>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</body>
</html>
