<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %>
</head>
<body>
  <header>
    <%- include('partials/nav') %>
  </header>
  <main>
    <div class="auth-container">
      <h1>Welcome to PasswordKeepR</h1>
      <div class="form-container">
        <form id="login-form" action="/login" method="POST">
          <h2>Login</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <button type="submit">Login</button>
        </form>
        <form id="signup-form" action="/register" method="POST">
          <h2>Signup</h2>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <select name="organization" id="organization">
            <option value=1>Red Hat</option>
            <option value=2>Microsoft</option>
            <option value=3>Apple</option>
        </select>
          <button type="submit">Signup</button>
        </form>
      </div>
    </div>
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <!--<script defer src="/scripts/auth.js"></script>-->
</body>
</html>
